main {
  display: flex;
  margin: auto;
  width: 100%;
}
main nav > div:hover {
  background-color: skyblue;
}
main nav {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: blue;
}
main article {
  width: 70%;
}
main nav div {
  height: 20%;
}
